<h1 style="text-align:center;">Gestione catena di negozi</h1>

<h4>
    Descrizione
</h4>
<p>
    Scopo del progetto è analizzare le necessità relative ad un sistema per la gestione di una catena di 
    negozi sportivi, definendo lo schema rispetto ai vincoli specificati.
</p>

<h4>
    Necessità
</h4>
<p>
    L'azienda ha 10 negozi, 6 in Italia e 4 in Germania
</p>
<p>
    Per ogni negozio ci interessa tracciare
    <ul>
        <li>dimensione mq</li>
        <li>indirizzo</li>
        <li>dimensione magazzino mq</li>
        <li>numero di dipendenti</li>
        <li>responsabile</li>
        <li>responsabile</li>
    </ul>

<p>
    Ogni negozio ha un numero differente di dipendenti e per ogni negozio c'è un solo responsabile.
</p>
<p>
    Dei dipendenti ci interessa sapere
    <ul>
        <li> numero di matricola</li>
        <li>nome</li>
        <li>cognome</li>
        <li>codice fiscale</li>
        <li>età</li>
    </ul>
<p>
    Ogni negozio è suddiviso in aree tematiche (calcio, basket, pallavolo, ..) e ogni area ha diversi articoli
    sportivi. Per ciascun articolo interessa gestire
    <ul>
    <li>codice </li>
    <li>prezzo</li>
    <li>taglia (non attuabile per tutti gli articoli)</li>
    <li>peso</li>
    <li>sezione di riferimento</li>
    </ul>
<p>
    
<h4>
    Definizione schema
</h4>
<p>
    Si richiede la definizione di uno schema che modelli le entità descritte ed un semplice mockup che 
    definisca la struttura dell’interfaccia grafica di un applicativo web, che permetta di gestire tale tipo di 
    negozio
</p>

<h4>
    Attività secondarie
</h4>
<p>
    Inserire qualche esempio di DDL + DML
</p>

<br><br>
<p>
    Progetto per Marco Alfonsi
</p>

<br><br><br>
<h4>Mappa pagine del progetto</h4>
<img class="image" src="assets/MappaPagineProgetto.png"/>
<br><br><br>
<h4>Schema Database relazionale del progetto</h4>
<img class="image" src="assets/DatabaseProgetto.png"/>
<br><br>